.qr-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  text-align: center;
}

h2 {
  font-size: 3rem;
  margin-bottom: 40px;
}

.slide {
  width: 90%; /* Ensure the slide occupies enough width */
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  position: relative; /* Position relative for absolute navigation arrows */
  min-height: 400px; /* Ensure all slides have minimum height */
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.prev-button, .next-button {
  font-size: 3rem;
  padding: 10px 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #333;
  transition: color 0.3s ease;
  position: absolute; /* Make sure the buttons are positioned absolutely */
}

.prev-button {
  left: 20px; /* Position the previous button on the left side */
}

.next-button {
  right: 20px; /* Position the next button on the right side */
}

.prev-button:hover, .next-button:hover {
  color: #000;
}
