/* IntroParagrap.css */
.intro-paragraph {
  background-color: #ebc6c6;
  padding: 10px;
  border: 1px solid #746b6b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 800px;
}
