body {
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}

img {
  width: 100%;
  height: auto;
}

div {
  max-width: 800px; /* Maximum width of content */
  border-radius: 10px;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.1);
  padding: 10px;
}


